extends sub-layout

block content
	h3.title-header About Us
	p Atlas Fence has been involved in fence contracting and installation since 1976. Our commitment is to deliver the best products, using the best methods, in a timely manner at a competitive price. We guarantee the products, material and labour on every job we do.

	p Our expertise is in commercial, industrial, construction, highway and high security applications. We became experts in these areas because we have made it our business to be at the leading edge of the industry and staying current with product and material advancements. We are passionate about the installation process and continue to refine our methods and process.

	p Atlas Fence is fully equipped to supply and install virtually any kind of commercial, industrial and highway fencing.  Our experienced staff includes estimators, layout experts, field supervisors, as well as a pool of experienced professional installers.

	p Our company has the stability that makes us a dependable supplier for our customer’s projects. Our strength of position and history with suppliers allows us to secure the best pricing in materials, employ the most qualified personnel and offer the highest level of service.

	p Thank you for considering Atlas Fence for your fencing needs.

	p If you are looking for something that you don’t see, please phone, or e-mail us and we will do our best to assist you further.

	p Yours truly,<br> Chuck Willoughby and Ernie Fisher