extends layout

block content
  div#wrapper
    div.main_content
      div.uppersection
        div.logo
          img(src="../img/logo.png")
        h2
          strong Coming Soon <br>
        p Atlas Fence began its existence as a fence contractor in 1976 with the vision of becoming the leading fence specialist in Toronto and southwestern Ontario.
    
