extends sub-layout

block content
  h3.title-header Customers

  p Atlas Fence is proud of the customer relationships we have developed since our inception in 1976.  We earned those relationships through our expertise, the quality of our work and the commitment to deliver the job on time and at the right price.  Our client roster includes municipalities, insurance companies, property managers and the most successful construction companies in North America.

  ul#customers-logo
    li.wow.zoomIn
      img(src="../img/customers/ellisdon.jpg")
    li.wow.zoomIn
      img(src="../img/customers/pcl.jpg")
    li.wow.zoomIn
      img(src="../img/customers/bondfield.jpg")
    li.wow.zoomIn
      img(src="../img/customers/eastern.jpg")
    li.wow.zoomIn
      img(src="../img/customers/aecon.jpg")
    li.wow.zoomIn
      img(src="../img/customers/toronto.jpg")
    li.wow.zoomIn
      img(src="../img/customers/del.jpg")
    li.wow.zoomIn
      img(src="../img/customers/torontozoo.jpg")