extends sub-layout

block content
	h3.title-header High Security Solutions
	p ClearVu is the only recognised architecturally engineered, high security barrier.


	p With over 23 design registrations and patents, ClearVu has substantial benefits, making it the most secure, most attractive, most durable, cost competitive, A+ Green rated fencing solution currently available. The high density, high tensile mesh includes apertures too narrow for finger and footholds, preventing climbing or cutting with standard tools, bolt cutters etc.

	p ClearVu is approved as a category III type fencing system and complies with specifications as detailed for National Key Points and by Police Advisory Services.

	p
		strong ClearVu applications include:

	ul.bulleted
		li Data Centres
		li Residential estates
		li Industrial parks
		li Theme parks
		li Auto dealerships
		li Sports stadiums
		li Embassies
