extends sub-layout

block content
	h3.title-header Highway Fencing

	p
		strong Guiderail systems have been a core aspect of Atlas Fence business products for the past 25 years.

	p For Highways, Guiderail Systems play an important part in reducing the dangers of impact along the roadside and the median strip of multilane highways. Primarily, they absorb shock and deflect heavy loads. End treatments provide a safe solution for protecting motorists from vaulting, ramping or spearing with their vehicles.

	p Guiderail Products can be quickly installed without intensive labour. Steel or wooden posts (with or without blocking pieces) and are typically driven into the ground. They can be curved or straight and materials can be removed and re-installed elsewhere.

	p All our products meet or exceed the Ontario Provincial Standards specifications.

	p Single & Double Beam Guiderail available with or without channel.  Choose from wood or steel posts and a variety of end treatments.