extends sub-layout

block content
	h3.title-header Industrial & Commercial Chain Link
	h4 Commercial Chain Link
	p
		strong Commercial Case Study: McDonalds & Midas Parking Lot

	p Midas needed to stop any cars sliding into McDonald's wood fence and prevent accidental contact. A Guiderail was installed and the problem is solved. Combinations with innovative products such as our engineered steel posts let you design a system that will meet local wind-load requirements and produce a longer life. Finally, they are very easy to repair and maintain.

	p
		strong Commercial Case Study: Bank

	p At this construction site chain link fence posts were welded to the steel shoring. Then the chain link mesh was installed to prevent anyone from falling into the 100 foot hole. A 40 foot wide cantilever slide gate was installed for the heavy flow of construction vehicles constantly coming to and going from the downtown site.
	p
		strong Chain Link: Economical

	p Due to its strength and durability, chain-link is one of the most economical types of fencing available and preferred to define and protect property lines. For privacy, different types of decorative slats are available in a variety of colors to create an attractive screen. Snow, silt & plastic safety fence are also available.

	ul.bulleted
		li Galvanized or vinyl coated in many colours.
		li Different Fabric & Post Sizes available.
		li Indoor and Outdoor enclosures.
		li Cantilever, overhead track & swing gates available.
