extends sub-layout

block content
  h3.title-header Picture Gallery
  .row.wow.fadeIn.delay-02s
    .col.l12
      // isotope filters start
      .filters.text-center.center
        ul.nav.nav-pills
          li.active
            a(href='#', data-filter='*') All
          li
            a(href='#', data-filter='.clearvu-products') ClearVu Products
          li
            a(href='#', data-filter='.industrial-fence') Industrial Fence
          li
            a(href='#', data-filter='.chain-link') Chain Link Photo-Zoo
          li
            a(href='#', data-filter='.customer-logo') Customer Logo
      // isotope filters end

      .isotope-container.row.grid-space-20
        .col.s6.m4.isotope-item.clearvu-products
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-product1.jpg', alt='')
              a.overlay(href="../img/gallery/product1.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus.fa-3x


        .col.s6.m4.isotope-item.clearvu-products
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-product2.jpg', alt='')
              a.overlay(href="../img/gallery/product2.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.clearvu-products
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-product3.jpg', alt='')
              a.overlay(href="../img/gallery/product3.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.industrial-fence
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-industrial1.jpg', alt='')
              a.overlay(href="../img/gallery/industrial1.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus
        .col.s6.m4.isotope-item.industrial-fence
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-industrial2.jpg', alt='')
              a.overlay(href="../img/gallery/industrial2.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus
        .col.s6.m4.isotope-item.industrial-fence
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-industrial3.jpg', alt='')
              a.overlay(href="../img/gallery/industrial3.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.chain-link
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-torontozoo1.jpg', alt='')
              a.overlay(href="../img/gallery/torontozoo1.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus
        .col.s6.m4.isotope-item.chain-link
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-torontozoo2.jpg', alt='')
              a.overlay(href="../img/gallery/torontozoo2.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo1.jpg', alt='')
              a.overlay(href="../img/gallery/logo1.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo2.jpg', alt='')
              a.overlay(href="../img/gallery/logo2.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo3.jpg', alt='')
              a.overlay(href="../img/gallery/logo3.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo4.jpg', alt='')
              a.overlay(href="../img/gallery/logo4.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo5.jpg', alt='')
              a.overlay(href="../img/gallery/logo5.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo6.jpg', alt='')
              a.overlay(href="../img/gallery/logo6.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus

        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo7.jpg', alt='')
              a.overlay(href="../img/gallery/logo7.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus
        .col.s6.m4.isotope-item.customer-logo
          .image-box
            .overlay-container
              img.image-link(src='../img/gallery/thumb-logo8.jpg', alt='')
              a.overlay(href="../img/gallery/logo8.jpg", data-lightbox="gallery")
                i.fa.fa-search-plus