.row
		h5.fa.fa-bars.fa-lg Menu
	ul.side-menu
		li
			a(href="/") Home
		li
			a(href='/about-us') About Us
		li
			a(href='/high-security-solutions') High Security Solutions
		li
			a(href='/industrial-and-commercial-chain-link') Industrial & Commercial Chain Link
		li
			a(href='/highway-fencing') Highway Fencing
		li
			a(href='/wrought-iron-fencing') Wrought Iron Fencing
		li
			a(href='/customers') Customers
		li
			a(href='/specifications') Specifications
		li
			a(href='/quotation') Quotation
		li
			a(href='/photo-gallery') Photo Gallery
		li
			a(href='/contact-us') Contact Us
