extends sub-layout

block content
	h3.title-header Specifications
	p
		strong Spec Sheets on Atlas products

	ul.bulleted
		li Rental Fence: Panel
		li Overhead Track Gate
		li Cantilever Gate
		li
			<a class="image-link" href="../img/truss_gate.gif" data-lightbox="image-1">Large Swing Gate with diagonal truss.</a>
		li
			<a class="image-link" href="../img/ind_chain.gif" data-lightbox="image-1">Industrial Chain Link.</a>
