doctype html
html
	head
		include _include/header
		title Thank You Page
	body
		br
		br
		br
		p(style='text-align: center;')
			img(src='../img/check-icon.png', alt='', width='128', height='128')
		div(style='text-align: center;')
			h1.center Thank You!
			p.center Your submission has been received. We will respond to your inquiry as soon as we can.
			br
			a.waves-effect.waves-teal.btn-large.thank-you(href='/') Back To Home


