extends sub-layout

block content
	h3.title-header Wrought Iron Fencing

	h4 Wrought Iron: Elegant, Strong & Durable

	p Modular galvacume wrought iron has replaced the old solid metal style of wrought iron for almost all applications with endless design possibilities. It can be customized with arched or ornate finials, scrolls, rings, and distinctive tops. They are manufactured for residential, commercial and industrial applications providing a combination of aesthetic elegance and security. Gates designs are made to match each style and are able to withstand harsh environments for pedestrian walkways, driveways, or cantilever slide gates. All gates can accept automatic gate openers that balance security and ease of operation.

	ul.bulleted
		li Made from galvaucoma tubing that meets or exceeds industry standards.
		li Custom Wrought Iron available upon request.
		li Polyester powder coats prevents premature rusting in a variety of colours.
		li Available in various styles & heights.
		li Wrought Iron Railings available.
