section#contact
	.container.wow.fadeIn.delay-05s
		.row
			.col.s12.m7#links
				h5 ATLAS FENCE
				ul
					li
						a(href="/about-us") About Us
					li
						a(href="/customers") Customers
					li
						a(href="/high-security-solutions") High Security Solutions
					li
						a(href="/specifications") Specifications
					li
						a(href="/industrial-and-commercial-chain-link") Industrial & Commercial Chain Link
					li
						a(href="/quotation") Quotation
					li
						a(href="/highway fencing") Highway Fencing
					li
						a(href="/photo-gallery") Photo Gallery
					li
						a(href="/wrought-iron-fencing") Wrought Iron Fencing
					li
						a(href="/contact-us") Contact Us
			.col.s12.m5#contact-info
				h5 CONTACT INFO
				p
					strong ATLAS FENCE TORONTO
				ul
					li Tel. 416-489-9612
					li.border |
					li Email: <a href="mailto:info@atlasfence.ca">info@atlasfence.ca</a>
				br.clear
				p
					strong ATLAS FENCE WEST
				ul
					li Tel. 905-272-8448
					li.border |
					li Email: <a href="atlas.fence@bellnet.ca">atlas.fence@bellnet.ca</a>

section#copyright
	.container
		.row
			.col.s12.l12
				p Copyright © 2016 - All rights reserved - <a href="//www.webfactories-australia.biz/" target="_blank">Website Design Company - SEO Company</a>

!= js()
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.0/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/classie/1.0.1/classie.min.js"></script>
<script src="../js/modernizr.custom.js"></script>
<script src="../js/cbpBGSlideshow.min.js"></script>
<script src="../js/gnmenu.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery-scrollTo/2.1.2/jquery.scrollTo.min.js"></script>


<!-- Custom Theme JavaScript -->
<script src="../js/custom.js"></script>