doctype html

html

	head
		meta(charset='utf8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
		meta(name='description', content='atlasfence')
		meta(name="keywords", content="atlasfence")
		meta(name='author', content= "atlasfence")
		meta(property="og:description", content="atlasfence")
		meta(property="og:title", content="atlasfence")
		meta(property="og:site_name", content="atlasfence")
		meta(property="og:description", content="atlasfence")
		link(rel="apple-touch-icon", href="../img/af-touch-icon-iphone.jpg")
		link(rel="apple-touch-icon", sizes="76x76", href="../img/af-touch-icon-ipad.jpg")
		link(rel="apple-touch-icon", sizes="120x120", href="../img/af-touch-icon-iphone-retina.jpg")
		link(rel="apple-touch-icon", sizes="152x152", href="../img/af-touch-icon-ipad-retina.jpg")
		link(rel="shortcut icon" href="../img/favicon.ico")
		//- uncomment if your site is responsive!
		meta(name="viewport" content="width=device-width, initial-scale=1")
		title="Atlasfence"
		link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
		link(href='https://fonts.googleapis.com/css?family=Lato:400,300,700', rel='stylesheet', type='text/css')
		link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700', rel='stylesheet', type='text/css')
		<link href="../css/animate.min.css" rel="stylesheet">
		<link href="../css/materialize.css" rel="stylesheet">
		<link href="../css/component.css" rel="stylesheet">
		<link href="../css/style.css" rel="stylesheet">
		!= css()