.row
	nav.navbar.navbar-default.navbar-fixed
		.container
			ul#gn-menu.gn-menu-main
				li.gn-trigger
					a.gn-icon.gn-icon-menu
						span Menu
					nav.gn-menu-wrapper
							.gn-scroller
								ul.gn-menu
									li.slogan
										h6.mobile-slogan "We build the best and fix the rest" since 1976
									li
										a.gn-icon.gn-icon-earth(href="/") Home
									li
										a.fa.fa-info-circle(href='/about-us') About Us
									li
										a.fa.fa-bolt(href='/high-security-solutions') High Security Solutions
									li
										a.fa.fa-link(href='/industrial-and-commercial-chain-link') Industrial & Commercial Chain Link
									li
										a.fa.fa-road(href='/highway-fencing') Highway Fencing
									li
										a.fa.fa-map-signs(href='/wrought-iron-fencing') Wrought Iron Fencing
									li
										a.fa.fa-user(href='/customers') Customers
									li
										a.fa.fa-align-left(href='/specifications') Specifications
									li
										a.gn-icon.gn-icon-help(href='/quotation') Quotation
									li
										a.fa.fa-picture-o(href='/picture-gallery') Photo Gallery
									li
										a.fa.fa-inbox(href='/contact-us') Contact Us

							// /gn-scroller
					li.logo
						a(href='index.html')
							img(src="../img/logo.jpg")
					li
						ul.company-slogan
							li
								h6 "We build the best and fix the rest" since 1976